.navbar-container{
  display: flex;
  border: 1px solid gray;
  padding: 0.5em;
  justify-content: center;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  min-width: 4em;
  border-radius: 10px;
  background-color: var(--bgColor);
}
.nav-button {
  margin: 0.2em;
  color: var(--textColor);
}

.hover-effect {
  color: var(--textColor);
  transform: scale(1.2);
}
.active{
  background-color: #A7FED9 !important;
}

