<div class="navbar-container">
  <button class = "nav-button" type="button" mat-icon-button routerLink="/dashboard" routerLinkActive="active"><mat-icon class = 'hover-effect'>home</mat-icon></button>
  <button class = "nav-button" type="button" mat-icon-button routerLink="/history" routerLinkActive="active"><mat-icon class = 'hover-effect'>history</mat-icon></button>
  <button class = "nav-button" type="button" mat-icon-button routerLink="/add-expense" routerLinkActive="active"><mat-icon class = 'hover-effect'>add-circle</mat-icon></button>
  <button class = "nav-button" type="button" mat-icon-button routerLink="/help" routerLinkActive="active"><mat-icon class = 'hover-effect'>help</mat-icon></button>
  <button class = "nav-button" type="button" mat-icon-button routerLink="/profile" routerLinkActive="active"><mat-icon class = 'hover-effect'>person</mat-icon></button>
</div>
