<div class="dialog-container">
  <h2 class="text-color" mat-dialog-title>Tap on the Microphone and Speak!</h2>
  <div class="mic-container">
    <div class="mic-animation-wrapper">
      <button
        (click)="startRecording()"
        class="form-button"
        type="button"
        mat-icon-button
      >
        <mat-icon>mic</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label class="input-label">Voice Output</mat-label>
      <textarea
        class="textarea"
        [(ngModel)]="speechText"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="stopRecording()" mat-button (click)="dialogRef.close()">
      Back
    </button>
    <button mat-button (click)="dialogRef.close(speechText)" cdkFocusInitial>
      Ok
    </button>
  </mat-dialog-actions>
</div>
