<div class="category-grid-container">
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="1:1.3"
    (window:resize)="onResize($event)"
    class="category-expenditure-grid"
  >
    <h3>Categories</h3>
    @for (categories of categories; track $index) {
    <mat-grid-tile class="category-expenditure-grid-tile">
      <app-category-tablet
        [expenditureVal]="values[$index]"
        [iconName]="categories[0]"
        [catName]="categories[1]"
      ></app-category-tablet>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
