.faq-accordion {
  font-family: "Clash Grotesk", sans-serif;
  background-color: var(--bgColor);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}
.faq-container {
  width: 70vw;
  min-width: 0;
  text-align: center;
}

.contact-info {
  font-family: "Clash Grotesk", sans-serif;
  background-color: var(--bgColor);
  color: var(--textColor);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

mat-panel-title {
  font-size: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  .faq-accordion,
  .contact-info {
    font-size: 0.9rem;
  }
}
