<app-navbar></app-navbar>
<form [formGroup]="expenseFormGroup" class="expense-form-container">
  <img class="logo" src="assets/CoinKeepLogo.svg" alt="coinkeep logo image" />

  <mat-form-field appearance="outline">
    <mat-label class="input-label">Expense Name</mat-label>
    <input
      matInput
      placeholder="What was the expense?"
      formControlName="description"
      required
    />
    <mat-icon matSuffix>help_outline</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label class="input-label"> Category </mat-label>
    <mat-select
      class="selector"
      formControlName="category"
      name="expense-selector"
    >
      <mat-option
        *ngFor="let category of categories; let i = index"
        [value]="category"
        >{{ category }}</mat-option
      >
    </mat-select>
    <mat-icon matSuffix>category</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label class="input-label"> Value </mat-label>
    <input
      type="number"
      min="1"
      step="any"
      matInput
      placeholder="How much was expense?"
      formControlName="amount"
      required
    />
    <mat-icon matSuffix>monetization_on</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="input-label"> Date of Transaction </mat-label>
    <input
      formControlName="date"
      matInput
      [matDatepicker]="picker"
      placeholder="MM/DD/YY"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="button-group">
    <button
      (click)="openDialog()"
      class="form-button"
      type="button"
      mat-icon-button
    >
      <mat-icon>mic</mat-icon>
    </button>
    <button
      [disabled]="!expenseFormGroup.valid"
      class="form-button"
      [ngClass]="{ gray: !expenseFormGroup.valid }"
      type="button"
      mat-icon-button
      (click)="createTransaction()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>
