.expense-form-container {
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  width: 20vw;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-button {
  color: var(--bgColor);
  background-color: var(--textColor);
  margin: 0.5em;
}

::ng-deep .mdc-notched-outline__leading {
  border-color: grey !important;
}
::ng-deep .mdc-notched-outline__notch {
  border-color: grey !important;
}
::ng-deep .mdc-notched-outline__trailing {
  border-color: grey !important;
}
input {
  color: var(--textColor) !important;
}
input::placeholder {
  color: grey;
}
.input-label {
  color: grey;
}
.selector {
  color: var(--textColor) !important;
}
.logo {
  width: 40%;
}

@media (max-width: 1024px) {
  .expense-form-container {
    width: 70vw;
  }
}

mat-datepicker-toggle {
  color: var(--textColor) !important;
}

.gray {
  background-color: gray !important;
}
