/* You can add global styles to this file, and also import other style files */

$bgColor_light: white;
$bgColor_dark: #100C2A;

$textColor_light: #100C2A;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('./assets/fonts/ClashGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Clash Grotesk';
  src: url('./assets/fonts/ClashGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Clash Grotesk';
  src: url('./assets/fonts/ClashGrotesk-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-family: 'Clash Grotesk';
  src: url('./assets/fonts/ClashGrotesk-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}


html, body { height: 100%; margin: 0; padding: 0; overflow-x: hidden}

body.dark {
    @include darken();
  }
body.light {
    @include lighten();
}
body{
  background-color: var(--bgColor);
}

.logo{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}