<form [formGroup]="loginForm" class="login-form-container">
  <h2>
    <strong>{{ title }}</strong>
  </h2>
  <mat-form-field appearance="outline">
    <mat-label class="input-label">Email</mat-label>
    <input
      class="login-form-input"
      matInput
      placeholder="Email"
      formControlName="email"
    />
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field class="auth-input" appearance="outline">
    <mat-label class="input-label">Password</mat-label>
    <input
      class="login-form-input"
      type="password"
      matInput
      placeholder="Password"
      formControlName="password"
    />
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>
  <p class="register-info">
    Don't have an account?
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </p>
  <app-start-button
    (clicked)="loginUser()"
    [buttonTitle]="'Continue'"
    [disabled]="!loginForm.valid"
  ></app-start-button>
</form>
